{% extends "components/popup.twig" %}

{% block popupHeader %}
{{ svg('car', { class: 'inline text-white w-6 h-3 mr-3' }) }}
<span class="font-semibold">Aplicación vehículo</span>
{% endblock %}

{% block tableHeader %}
<div class="grid grid-cols-5 py-2 text-white bg-gray-900">
    <div class="flex items-center px-2">
        Fabricante
    </div>
    <div class="flex items-center col-span-2 px-2">
        Marca de vehículo
    </div>
    <div class="flex items-center col-span-2 px-2">
        Tipo de vehículo
    </div>
</div>
{% endblock %}

{% block tableContent %}
<template x-for="rowItem in tableContent" hidden>
    <a :href="'www.neco.cz' + rowItem.slug"
        class="grid grid-cols-5 py-3 text-gray-900 transition-all bg-white border-b border-l border-r border-gray-300 hover:bg-green-50">
        <div x-text="rowItem.brand" class="px-2 font-semibold text-green"></div>
        <div x-text="rowItem.model" class="col-span-2 px-2"></div>
        <div x-text="rowItem.type" class="col-span-2 px-2"></div>
    </a>
</template>

{% endblock %}

{% block alpineScript %}
<script>
    function popupCompetition() {
        return {
            open: false,
            tableContent: {
                1: {
                    brand: 'Nissan',
                    model: 'PRIMERA (P12) 01.2002',
                    type: 'PRIMERA (P12): 1.6',
                    year: '01.2002',
                }
            },
            openPopup(vehicleBrand, product) {

                document.body.classList.add("cursor-wait");

                fetch(WP.ajaxURL, {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'Cache-Control': 'no-cache',
                    },
                    body: new URLSearchParams({
                        action: 'single_product_get_cars',
                        brand: vehicleBrand,
                        product: product
                    })
                })
                .then(response => response.json())
                .then((data) => {
                    this.tableContent = data;
                    this.open = true;
                    document.body.classList.add("h-full", "overflow-hidden");
                    document.body.classList.remove("cursor-wait");
                })
                .catch((error) => {
                    console.log(error);
                });
            },
            closePopup() {
                this.open = false;
                document.body.classList.remove("h-full", "overflow-hidden");
            },
            isOpenPopup() {
                return this.open == true;
            },
        }
    }
</script>
{% endblock %}
